
#inicio {
    background: url(../img/fondo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 4.2em;
    padding-bottom: 13.2em;
    margin-top: -5em;
}
